.main-container {
  position: absolute;
  width: 1270px;
  height: 1271px;
  left: 241px;
  top: 0px;
  // overflow-y: scroll;
  background: #FFFFFF;

  .main-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 24px;
    position: absolute;
    width: 195px;
    height: 34px;
    left: 36px;
    top: calc(50% - 34px/2 - 588.5px);

    h3 {
      width: 195px;
      height: 34px;
      // font-family: 'General Sans';
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      line-height: 120%;
      color: #242D35;
      flex: none;
      order: 0;
      flex-grow: 0;
    }
  }
}

.right-top {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;

  position: absolute;
  width: 232px;
  height: 40px;
  right: 36px;
  top: calc(50% - 40px/2 - 591.5px);

  .new-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 12px 12px 20px;
    gap: 8px;
    width: 128px;
    height: 40px;
    background: #4040F2;
    border-radius: 32px;
    border: none;
    flex: none;
    order: 0;
    flex-grow: 0;

    //button font
    // font-family: 'General Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;

    color: #FFFFFF;
  }

  .top-btn {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 8px;
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #EAECEE;
    border-radius: 32px;
    flex: none;
    flex-grow: 0;
  }
}

h4 {
  position: absolute;
  // font-family: 'General Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  color: #373F47;
}

.title-1 {
  width: 159px;
  height: 36px;
  left: 36px;
  top: 100px;
}

.micro-tiles {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  position: absolute;
  width: 1127px;
  height: 64px;
  left: 36px;
  top: 152px;

  .card {
    box-sizing: border-box;
    width: 360px;
    height: 64px;
    background: #FFFFFF;
    border: 1px solid #EAECEE;
    border-radius: 12px;
    flex: none;
    flex-grow: 0;

    img {
      position: absolute;
      width: 40px;
      height: 40px;
      left: 24px;
      top: 12px;
      border-radius: 4px;
    }

    .text-content {
      position: absolute;
      width: 200px;
      height: 41px;
      left: 80px;
      top: 12px;

      p {
        position: absolute;
        height: 21px;
        left: 0px;
        top: 0px;
        // font-family: 'General Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #242D35;
      }

      small {
        position: absolute;
        left: 0px;
        top: 23px;
        // font-family: 'General Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;

        color: #4F5B67;
      }
    }
  }

  .last-card {
    width: 360px;
    height: 64px;
    flex: none;
    order: 2;
    flex-grow: 0;

    .fade-space {
      position: absolute;
      width: 144px;
      height: 116px;
      left: 1000px;
      top: -23px;
      background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 97.22%);
    }

    button {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 12px;
      gap: 8px;

      position: absolute;
      width: 40px;
      height: 40px;
      left: 1087px;
      top: 12px;

      background: #FFFFFF;

      border: 1px solid #EAECEE;
      border-radius: 32px;
    }
  }
}

.title-2 {
  width: 120px;
  height: 36px;
  left: 36px;
  top: 252px;
}

.control-left {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;

  position: absolute;
  width: 475px;
  height: 40px;
  left: 36px;
  top: 313px;

  .control-left-item {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 12px 12px 20px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #EAECEE;
    border-radius: 32px;
    flex: none;
    flex-grow: 0;
  }

  .c-left-btn {
    gap: 8px;
    i { color: #A8B0B9;}
  }

  .search-input {
    gap: 77px;

    input {
      border: none;
    }

    input::placeholder {
      width: 154px;

      // font-family: 'General Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;
      color: #D6DADE;
      flex: none;
      order: 0;
      flex-grow: 0;
    }

    input:focus-within {
      outline: none;
    }
  }
}

.control-right {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  position: absolute;
  width: 176px;
  height: 40px;
  left: 987px;
  top: 312px;

  button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    // padding: 12px 12px 12px 20px;
    gap: 8px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #EAECEE;
    border-radius: 32px;
    flex: none;
    flex-grow: 0;
  }

  .btn-customize {
    padding: 12px 12px 12px 20px;
  }

  .btn-more {
    padding: 12px;
    width: 40px;
  }
}


.listings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  position: absolute;
  width: 1127px;
  height: 860px;
  left: 36px;
  top: 377px;

  .card {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 24px;
    position: absolute;
    background: #FFFFFF;

    border: 1px solid #EAECEE;
    border-radius: 12px;

    img {
      // width: 312px;
      height: 157px;
      border-radius: 8px;

      flex: none;
      order: 0;
      align-self: stretch;
      flex-grow: 0;
    }

    .text-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      gap: 8px;

      width: 312px;
      height: 71px;

      flex: none;
      order: 1;
      align-self: stretch;
      flex-grow: 0;

      h5 {
        width: 312px;
        height: 27px;

        // font-family: 'General Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 150%;

        color: #242D35;

        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
      }

      small {
        // width: 276px;
        height: 36px;

        // font-family: 'General Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;

        color: #4F5B67;

        flex: none;
        order: 1;
        flex-grow: 0;
      }
    }

    .meta-data {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 0px;
      gap: 16px;

      width: 225px;
      height: 18px;

      flex: none;
      order: 2;
      flex-grow: 0;

      .data {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 8px;

        // width: 63px;
        height: 18px;

        flex: none;
        // order: 0;
        flex-grow: 0;

        i {
          opacity: 0.9;
          flex: none;
          order: 0;
          flex-grow: 0;

          color: #717D8A;
        }

        small {
          // width: 39px;
          height: 18px;

          // font-family: 'General Sans';
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 150%;

          color: #4F5B67;

          flex: none;
          order: 1;
          flex-grow: 0;
        }
      }
    }

    button {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 19px 76px;
      gap: 10px;

      width: 305px;
      height: 52px;


      background: #FFFFFF;

      border: 1px solid #EAECEE;
      border-radius: 36px;

      flex: none;
      order: 3;
      flex-grow: 0;

      // button text
      color: #0C1116;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
    }
  }

  .card1 {
    width: 360px;
    height: 418px;
    left: 0px;
    top: 0px;
  }
  
  .card2 {
    width: 359px;
    height: 418px;
    left: 384px;
    top: 0px;
  }

  .card3 {
    width: 353px;
    height: 418px;
    left: 767px;
    top: 0px;
  }

  .card4 {
    width: 360px;
    height: 418px;
    left: 0px;
    top: 438px;
  }

  .card5 {
    width: 359px;
    height: 418px;
    left: 384px;
    top: 438px;
  }

  .card6 {
    width: 360px;
    height: 418px;
    left: 767px;
    top: 438px;
  }
}