<div class="main-container position-absolute">
  <div class="main-title position-absolute">
    <h3>Available units</h3>
  </div>
  <div class="right-top position-absolute d-flex">
    <button class="new-btn">New listing<i class="bi bi-plus"></i></button>
    <button class="icon-btn d-flex"><i class="bi bi-bell"></i></button>
    <button class="icon-btn d-flex"><i class="bi bi-search"></i></button>
  </div>
  <h4 class="title-1 position-absolute">Your favorites</h4>
  <div class="micro-tiles d-flex position-absolute">
    <div class="card">
      <img [src]="images[0]">
      <div class="text-content position-absolute">
        <p>Shoreditch Apt</p>
        <small class="position-absolute">10 December 2022</small>
      </div>
    </div>
    <div class="card">
      <img [src]="images[1]">
      <div class="text-content position-absolute">
        <p>Shoreditch Apt</p>
        <small class="position-absolute">10 December 2022</small>
      </div>
    </div>
    <div class="last-card">
      <div class="card">
        <img [src]="images[2]">
        <div class="text-content position-absolute">
          <p>Shoreditch Apt</p>
          <small class="position-absolute">10 December 2022</small>
        </div>
      </div>
      <div class="fade-space position-absolute"></div>
      <button class="position-absolute icon-btn d-flex"><i class="bi bi-chevron-right"></i></button>
    </div>
  </div>
  <h4 class="title-2 position-absolute">All listings</h4>
  <div class="control-left d-flex position-absolute">
    <button class="icon-btn d-flex c-left-btn">Filter by<i class="bi bi-filter"></i></button>
    <button class="icon-btn d-flex c-left-btn">Sort by<i class="bi bi-filter-left"></i></button>
    <form class="icon-btn d-flex search-input">
      <input type="text" placeholder="Try 'Miami beachhouse'">
      <i class="bi bi-search"></i>
    </form>
  </div>
  <div class="control-right d-flex position-absolute">
    <button class="btn-customize icon-btn d-flex">Customize<i class="bi bi-gear"></i></button>
    <button class="btn-more icon-btn d-flex"><i class="bi bi-three-dots-vertical"></i></button>
  </div>
  <div class="listings d-flex position-absolute" *ngFor="let listing of listings">
    <div [class]="listing.card" class="card">
      <img [src]="listing.image" alt="">
      <div class="text-content">
        <h5>{{ listing.name }}</h5>
        <small>{{ listing.desc }}</small>
      </div>
      <div class="meta-data d-flex">
        <div class="data">
          <i class="bi bi-geo-alt"></i>
          <small>Boston</small>
        </div>
        <div class="data d-flex">
          <i class="bi bi-vr"></i>
          <small>5 bedroom</small>
        </div>
        <div class="data d-flex">
          <i class="bi bi-building"></i>
          <small>Villa</small>
        </div>
      </div>
      <button>View listing details</button>
    </div>
  </div>
</div>