form {
  padding: 16px 24px;
  width: 100%;
  max-height: 48px;
  border: 1px solid #EAECEE;
  border-radius: 32px;

  input { border: none; }
}

@media (min-width: 472px) {
  form {
    width: 422px;
  }
}

.card {
  border-radius: 8px;

  .icon { 
    background: #F7F7FB;
    width: 32px;
    height: 32px;

    i { color: #4040F2; }
  }

  h5 {
    font-size: 18px;
    font-weight: 400;
    color: #242D35;
  }

  small { 
    font-size: 12px;
    color: #4F5B67;
  }
  
  .more { color: #3333D1; }
}

h4, h3 {
  color: #373F47;
}

a { color: #4F5B67; }