<div class="container-fluid">
  <div class="mx-sm-5">
    <div class="row py-3 mt-4 mb-3">
      <div class="col d-flex gap-3 align-items-center gray-500">
        <h3>Current projects</h3>
        <i class="bi bi-caret-down-fill"></i>
      </div>
      <div class="col">
        <div class="d-flex justify-content-end gap-12">
          <button class="new-btn text-white d-flex align-items-center gap-1">New project<i class="bi bi-plus"></i></button>
          <button class="icon-btn"><i class="bi bi-bell d-flex align-items-center"></i></button>
          <button class="icon-btn"><i class="bi bi-search d-flex align-items-center"></i></button>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-4 control-bar py-3">
    <div class="row mx-sm-5">
      <div class="col-sm d-flex gap-12">
        <button class="icon-btn bg-white d-flex align-items-center gap-1">Filter by<i class="bi bi-filter gray-400"></i></button>
        <button class="icon-btn bg-white d-flex align-items-center gap-1">Sort by<i class="bi bi-filter-left gray-400"></i></button>
        <form class="d-flex align-items-center">
          <input type="text" placeholder="Try 'Miami beachhouse'">
          <i class="bi bi-search d-flex align-items-center"></i>
        </form>
      </div>
      <div class="col-sm-3 d-flex justify-content-end gap-12">
        <button class="icon-btn bg-white d-flex align-items-center gap-1 customise-btn">Refresh<i class="bi bi-arrow-clockwise gray-400"></i></button>
        <button class="icon-btn bg-white d-flex align-items-center gap-1 customise-btn">Customise <i class="bi bi-gear gray-400"></i></button>
        <button class="icon-btn bg-white d-flex align-items-center"><i class="bi bi-three-dots-vertical"></i></button>
      </div>
    </div>
  </div>

  <table class="container-fluid mb-5">
    <thead>
      <tr>
        <td scope="col"><i class="bi bi-square"></i></td>
        <td scope="col">Project name<i class="bi bi-arrow-up"></i></td>
        <td scope="col">Project status</td>
        <td scope="col">Brand</td>
        <td scope="col">Contributors</td>
        <td scope="col">Project type</td>
        <td scope="col">Due date</td>
        <td scope="col" class="text-center">Actions</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of projects">
        <td><i class="bi bi-square"></i></td>
        <td><i class="bi bi-person-video3"></i> {{ project.name }}</td>
        <td><div class="badge-status text-white" [class]="project.status_type">{{ project.status }}</div></td>
        <td><img [src]="project.brand_logo" class="logo rounded-circle"> {{ project.brand }}</td>
        <td class="d-flex">
          <div *ngFor="let image of project.contributors">
            <img [src]="image" class="contributor rounded-circle">
          </div>
          
        </td>
        <td><div class="badge-status" [class]="project.type_badge">{{ project.type }}</div></td>
        <td><i class="bi bi-calendar"></i> {{ project.due_date}}</td>
        <td class="text-center"><i class="bi bi-three-dots"></i></td>
      </tr>
    </tbody>
  </table>
</div>