<div class="main-container">
  <div class="nav-main">
    <h3>Current projects</h3>
    <i class="bi bi-caret-down-fill"></i>
  </div>
  <div class="nav-control">
    <button class="new-btn">New project<i class="bi bi-plus"></i></button>
    <button class="nav-btn"><i class="bi bi-bell"></i></button>
    <button class="nav-btn"><i class="bi bi-search"></i></button>
  </div>
  <div class="control-bar">
    <div class="control-left">
      <button class="control-left-item c-left-btn">Filter by<i class="bi bi-filter"></i></button>
      <button class="control-left-item c-left-btn">Sort by<i class="bi bi-filter-left"></i></button>
      <form class="control-left-item search-input">
        <input type="text" placeholder="Try 'Miami beachhouse'">
        <i class="bi bi-search"></i>
      </form>
    </div>
    <div class="control-right">
      <button class="btn-customize">Refresh<i class="bi bi-arrow-clockwise"></i></button>
      <button class="btn-customize">Customize<i class="bi bi-gear"></i></button>
      <button class="btn-more"><i class="bi bi-three-dots-vertical"></i></button>
    </div>
  </div>
  <table>
    <thead>
      <tr>
        <td scope="col"><i class="bi bi-square"></i></td>
        <td scope="col">Project name<i class="bi bi-arrow-up"></i></td>
        <td scope="col">Project status</td>
        <td scope="col">Brand</td>
        <td scope="col">Contributors</td>
        <td scope="col">Project type</td>
        <td scope="col">Due date</td>
        <td scope="col" class="text-center">Actions</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of projects">
        <td><i class="bi bi-square"></i></td>
        <td><i class="bi bi-person-video3"></i> {{ project.name }}</td>
        <td><div class="badge-status" [class]="project.status_type">{{ project.status }}</div></td>
        <td><img [src]="project.brand_logo" class="logo rounded-circle"> {{ project.brand }}</td>
        <td class="d-flex">
          <div *ngFor="let image of project.contributors">
            <img [src]="image" class="contributor rounded-circle">
          </div>
          
        </td>
        <td><div class="badge-status" [class]="project.type_badge">{{ project.type }}</div></td>
        <td><i class="bi bi-calendar"></i> {{ project.due_date}}</td>
        <td class="text-center"><i class="bi bi-three-dots"></i></td>
      </tr>
    </tbody>
  </table>
</div>