<div class="main-container">
  <div class="nav-main">
    <h3>Current projects</h3>
    <i class="bi bi-caret-down-fill"></i>
  </div>
  <div class="nav-control">
    <button class="new-btn">New project<i class="bi bi-plus"></i></button>
    <button class="nav-btn"><i class="bi bi-bell"></i></button>
    <button class="nav-btn"><i class="bi bi-search"></i></button>
  </div>
  <div class="control-bar">
    <button>Filter projects</button>
    <button>Sort projects</button>
    <form action=""></form>
    <button>Refresh</button>
    <button>Customise</button>
    <button></button>
  </div>
</div>