.main-container {
  width: 1220px;
  height: 1024px;
  left: 240px;
}

.nav-main {
  flex-direction: row;
  align-items: center;
  gap: 8px;
  width: 256px;
  height: 34px;
  left: 36px;
  top: calc(50% - 34px/2 - 465px);

  h3 {
    width: 224px;
    height: 34px;
    font-weight: 600;
    font-size: 28px;
    color: #373F47;
  }

  i {
    width: 24px;
    height: 24px;
    color: #717D8A;
  }
}

.nav-control {
  align-items: center;
  gap: 12px;
  width: 239px;
  height: 40px;
  right: 36px;
  top: calc(50% - 40px/2 - 468px);

  .new-btn {
    display: flex;
    align-items: center;
    padding: 12px 12px 12px 20px;
    gap: 8px;
    width: 135px;
    background: #4040F2;
    border-radius: 32px;
    border: none;

    //button font
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
  }

  .nav-btn {
    display: flex;
    align-items: center;
    padding: 12px;
    gap: 8px;
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #EAECEE;
    border-radius: 32px;
    flex: none;
  }
}

.control-bar {
  width: 1240px;
  height: 72px;
  top: 88px;
  box-shadow: inset 0px 1px 0px #F1F1F1, inset 0px -1px 0px #F1F1F1;
}

.control-left {
  gap: 12px;  //
  left: 36px;
  top: 16px;

  .control-left-item {
    align-items: center;
    padding: 12px 12px 12px 20px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #EAECEE;
    border-radius: 32px;
  }

  .c-left-btn {
    gap: 8px;
    i { color: #A8B0B9;}
  }

  .search-input {
    gap: 77px;

    input {
      border: none;
    }

    input::placeholder {
      font-weight: 400;
      font-size: 14px;
      color: #D6DADE;
    }

    input:focus-within {
      outline: none;
    }
  }
}

.control-right {
  gap: 8px;
  left: 872px;
  top: 16px;

  button {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 8px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #EAECEE;
    border-radius: 32px;
  }

  .btn-customize {
    padding: 12px 12px 12px 20px;
  }

  .btn-more {
    padding: 12px;
    width: 40px;
  }
}

table {
  position: absolute;
  width: 1240px;
  top: 160px;
  border: 1px solid #EAECEE;
  border-radius: 12px;

  thead {
    background: #FAFAFA;
    font-weight: 400;
    font-size: 12px;
    color: #4F5B67;
    
    tr td {
      align-items: center;
      padding: 20px 36px 19px 24px;
      box-shadow: inset 0px -1px 0px #F1F1F1;

      i {
        color: #A8B0B9;
        font-size: 12px;
      }
    }
  }

  tbody {
    font-weight: 400;
    font-size: 14px;
    
    i {
      color: #A8B0B9;
      font-size: 12px;
    }

    tr td {
      padding: 20px 36px 19px 24px;
      box-shadow: inset 0px -1px 0px #F1F1F1;

      .logo {
        background: #373F47;
        width: 32px;
        height: 32px;
        padding: 5px;
      }

      .contributor {
        width: 32px;
        height: 32px;
        border: 2px solid #D8D8FE;
        margin-right: -12px;
      }
    }
  }
}

.badge-status {
  padding: 5px 10px 7px;
  gap: 10px;
  height: 24px;
  border-radius: 12px;

  //badge font 
  color: #FFFFFF;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
}

.review-badge {
  width: 69px;
  background: #FFCF0F;
}

.progress-badge {
  width: 83px;
  background: #4040F2;
}

.approved-badge {
  width: 75px;
  background: #44C13C;
}

.cancel-badge {
  width: 76px;
  background: #FF513A;
}

.new-type {
  color: #0F5B1D;
  width: 75px;
  background: #E6FBD9;
}

.reconstruction {
  color: #931222;
  width: 106px;
  background: #FFE8D7;
}

.commercial {
  color: #7B5C03;
  width: 89px;
  background: #FFF9CF;
}

.residential {
  color: #181894;
  width: 82px;
  background: #D8D8FE;
}