<div class="sidebar min-vh-100">
  <div class="top-header">
    <a href="" class="text-decoration-none investly">Investly<a class="text-decoration-none dot">.</a></a>
  </div>
  <div class="main-link">
    <ul class="p-0 m-0">
      <li routerLink="/dashboard">
        <div class="sub-menu d-flex align-items-center">
          <a routerLink="/dashboard"><i class="bi bi-folder"></i> Dashboard</a>
          <div class="choosen-menu"></div>
        </div>
      </li>
      <li routerLink="/available-units">
        <div class="sub-menu d-flex align-items-center">
          <a routerLink="/available-units"><i class="bi bi-building"></i> Available units</a>
          <div class="choosen-menu"></div>
        </div>
      </li>
      <li routerLink="/invoices">
        <div class="sub-menu d-flex align-items-center">
          <a routerLink="/invoices"><i class="bi bi-shield-check"></i> Invoices</a>
          <div class="choosen-menu"></div>
        </div>
      </li>
      <li routerLink="/projects">
        <div class="sub-menu d-flex align-items-center">
          <a routerLink="/projects"><i class="bi bi-clock"></i> Projects</a>
          <div class="choosen-menu"></div>
        </div>
      </li>
      <li>
        <div class="sub-menu d-flex align-items-center">
          <a><i class="bi bi-share"></i> Social media</a>
          <div class="choosen-menu"></div>
        </div>
      </li>
      <li>
        <div class="sub-menu d-flex align-items-center">
          <a><i class="bi bi-columns-gap"></i> Integrations</a>
          <div class="choosen-menu"></div>
        </div>
      </li>
      <li routerLink="/documentation">
        <div class="sub-menu d-flex align-items-center">
          <a routerLink="/documentation"><i class="bi bi-bookmarks"></i> Documentation</a>
          <div class="choosen-menu"></div>
        </div>
      </li>
    </ul>
  </div>
  <div class="sticky-footer">
    <div class="bottom-link">
      <ul class="p-0 m-0 ">
        <li >
          <div class="sub-menu d-flex align-items-center">
            <a><i class="bi bi-gear"></i> Settings</a>
            <div class="choosen-menu"></div>
          </div>
        </li>
        <li>
          <div class="sub-menu d-flex align-items-center">
            <a><i class="bi bi-question-circle"></i> Help center</a>
            <div class="choosen-menu"></div>
          </div>
        </li>
      </ul>
    </div>
    <div class="user-avatar-container">
      <div class="user-avatar">
        <img class="avatar rounded-circle" [src]="ava">
        <div class="user-text">
          <label for="">Louise Thompson</label>
          <small>Enterprise plan</small>
        </div>
      </div>
    </div>
  </div>
</div>