<div class="sidebar min-vh-100">
  <div class="top-header">
    <a href="" class="text-decoration-none investly">Investly<a class="text-decoration-none dot">.</a></a>
  </div>
  <div class="main-link">
    <ul>
      <li>
        <a href=""><i class="bi bi-folder"></i> Dashboard</a>
      </li>
      <li>
        <a href=""><i class="bi bi-building"></i> Available units</a>
      </li>
      <li>
        <a href=""><i class="bi bi-shield-check"></i> Invoices</a>
      </li>
      <li>
        <a href=""><i class="bi bi-clock"></i> Projects</a>
      </li>
      <li>
        <a href=""><i class="bi bi-share"></i> Social media</a>
      </li>
      <li>
        <a href=""><i class="bi bi-columns-gap"></i> Integrations</a>
      </li>
      <li>
        <a href=""><i class="bi bi-bookmarks"></i> Documentation</a>
      </li>
    </ul>
  </div>
  <div class="sticky-footer">
    <div class="bottom-link">
      <ul>
        <li>
          <a href=""><i class="bi bi-gear"></i> Settings</a>
        </li>
        <li>
          <a href=""><i class="bi bi-question-circle"></i> Help center</a>
        </li>
      </ul>
    </div>
    <div class="user-avatar-container">
      <div class="user-avatar">
        <img class="avatar rounded-circle" [src]="ava">
        <div class="user-text">
          <label for="">Louise Thompson</label>
          <small>Enterprise plan</small>
        </div>
      </div>
    </div>
  </div>
  <!-- <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
    <li class="nav-item">
      <a href="#" class="nav-link align-middle px-0">
        <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span>
      </a>
    </li>
    <li>
      <a href="#" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
        <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Available units</span> </a>
    </li>
    <li>
      <a href="#" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
        <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Invoices</span></a>
    </li>
    <li>
      <a href="#" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
        <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Projects</span></a>
    </li>
    <li>
      <a href="#" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
        <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Social media</span> </a>
    </li>
    <li>
      <a href="#" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
        <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Integration</span> </a>
    </li>
    <li>
      <a href="#" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
        <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Documentation</span> </a>
    </li>
  </ul>
  <hr> -->
  <!-- <ul class="nav nav-pills flex-column mb-3 align-items-center align-items-sm-start">
    <li>
      <a href="#" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
        <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Settings</span> </a>
    </li>
    <li>
      <a href="#" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
        <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Help Center</span> </a>
    </li>
  </ul>
  <div class="pb-4">
    <a href="#" class="d-flex align-items-center text-decoration-none " >
      <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
      <span class="d-none d-sm-inline mx-1">Louise Thompson <br><small>Enterprise plan</small></span>
    </a>
  </div> -->
</div>