<div class="sidebar min-vh-100">
  <div class="top-header">
    <a href="" class="text-decoration-none investly">Investly<a class="text-decoration-none dot">.</a></a>
  </div>
  <div class="main-link">
    <ul>
      <li>
        <a href=""><i class="bi bi-folder"></i> Dashboard</a>
      </li>
      <li>
        <a href=""><i class="bi bi-building"></i> Available units</a>
      </li>
      <li>
        <a href=""><i class="bi bi-shield-check"></i> Invoices</a>
      </li>
      <li>
        <a href=""><i class="bi bi-clock"></i> Projects</a>
      </li>
      <li>
        <a href=""><i class="bi bi-share"></i> Social media</a>
      </li>
      <li>
        <a href=""><i class="bi bi-columns-gap"></i> Integrations</a>
      </li>
      <li>
        <a href=""><i class="bi bi-bookmarks"></i> Documentation</a>
      </li>
    </ul>
  </div>
  <div class="sticky-footer">
    <div class="bottom-link">
      <ul>
        <li>
          <a href=""><i class="bi bi-gear"></i> Settings</a>
        </li>
        <li>
          <a href=""><i class="bi bi-question-circle"></i> Help center</a>
        </li>
      </ul>
    </div>
    <div class="user-avatar-container">
      <div class="user-avatar">
        <img class="avatar rounded-circle" [src]="ava">
        <div class="user-text">
          <label for="">Louise Thompson</label>
          <small>Enterprise plan</small>
        </div>
      </div>
    </div>
  </div>
</div>