.sidebar { box-shadow: inset -1px 0px 0px #F1F1F1; }

.sticky {
  position: relative;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.top-header { padding: 24px; }

.investly {
  font-weight: 900;
  font-size: 28px;
  color: #0D0D54;
  
  .dot {
    color: #4040F2;
  }
}

ul  li {
  list-style: none;
  min-width: 50px;

  a {
    font-weight: 400;
    font-size: 16px;
    color: #4F5B67;
    text-decoration: none;

    i { color: #A8B0B9; }
  }

  :hover {
    background: #F7F7FB;
    color: #0D0D54;

    i { color: #4040F2; }

    .choosen-menu { 
      width: 4px;
      background: #4040F2; 
    }
  }
}

.user-container { 
  box-shadow: inset 0px 1px 0px #F1F1F1; 
  .avatar {
    width: 32px;
    height: 32px;
    border: 2px solid #D8D8FE;
  }

  img {
      margin-left:auto;
      margin-right:auto;
      display:block;
  }

  label {
    // overflow: hidden;
    text-overflow: ellipsis;
    // display: -webkit-box;
    // max-height: 30px;
  }
}