.main-container {
  width: 1270px;
  height: 1024px;
  left: 240px;

  .main-title {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 34px;
    left: 36px;
    top: calc(50% - 34px/2 - 465px);

    h3 {
      height: 34px;
      font-weight: 600;
      font-size: 28px;
      color: #373F47;
    }

    i { color: #717D8A; }
  }
}

.right-top {
  gap: 12px;
  height: 40px;
  right: 100px;
  top: calc(50% - 40px/2 - 465px);

  .new-btn {
    flex-direction: row;
    align-items: center;
    padding: 12px 12px 12px 20px;
    gap: 8px;
    width: 128px;
    height: 40px;
    background: #4040F2;
    border-radius: 32px;
    border: none;

    //button font
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
  }
}

.icon-btn {
  display: flex;
  align-items: center;
  padding: 12px;
  gap: 8px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #EAECEE;
  border-radius: 32px;
}

.metrics {
  gap: 24px;
  left: 36px;
  top: 88px;

  .metric-small {
    width: 360px;
    height: 159px;
    border: 1px solid #EAECEE;
    border-radius: 12px;

    .metric-content {
      width: 350px;

      .metric-name {
        position: absolute;
        left: 24px;
        top: 24px;
        font-weight: 600;
        font-size: 18px;
        color: #373F47;
      }
  
      .metric-amount {
        position: absolute;
        height: 34px;
        left: 24px;
        top: 94px;
        font-weight: 600;
        font-size: 28px;
        line-height: 120%;
        color: #242D35;
      }

      .visualisation {
        width: 95px;
        height: 95px;
        right: 32px;
        top: 30px;
      }

      i {
        position: absolute;
        width: 24px;
        height: 24px;
        right: 62px;
        top: 66px;
      }

      .green-icon { color: #2BA52E; }
      .blue-icon { color: #3333D1; }
      .red-icon { color: #FF513A; }
    }
  }
}


.control-left {
  gap: 12px;
  width: 475px;
  height: 40px;
  left: 36px;
  top: 279px;

  .control-left-item {
    align-items: center;
    padding: 12px 12px 12px 20px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #EAECEE;
    border-radius: 32px;
    flex: none;
  }

  .c-left-btn {
    gap: 8px;
    i { color: #A8B0B9;}
  }

  .search-input {
    gap: 77px;

    input {
      border: none;
    }

    input::placeholder {
      width: 154px;
      font-weight: 400;
      font-size: 14px;
      color: #D6DADE;
    }

    input:focus-within {
      outline: none;
    }
  }
}

.control-right {
  gap: 8px;
  left: 987px;
  top: 279px;

  .btn-customize {
    padding: 12px 12px 12px 20px;
  }
}

table {
  width: 1127px;
  left: 36px;
  top: 335px;
  background: #FFFFFF;
  border: 1px solid #EAECEE;
  border-radius: 12px;

  thead {
    background: #FAFAFA;
    font-weight: 400;
    font-size: 12px;
    color: #4F5B67;

    tr td {
      align-items: center;
      padding: 20px 36px 19px 24px;
      box-shadow: inset 0px -1px 0px #F1F1F1;

      i {
        color: #A8B0B9;
        font-size: 12px;
      }
    }
  }

  tbody {
    font-weight: 400;
    font-size: 14px;
    color: #000000;

    i {
      color: #A8B0B9;
      font-size: 12px;
    }

    tr td {
      padding: 20px 36px 19px 24px;
      box-shadow: inset 0px -1px 0px #F1F1F1;

      img {
        background: #373F47;
        width: 32px;
        height: 32px;
        padding: 5px;
      }
    }
  }
}

.badge-status {
  padding: 5px 10px 7px;
  gap: 10px;
  height: 24px;
  border-radius: 12px;

  //badge font 
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
}

.review-badge {
  width: 69px;
  background: #FFCF0F;
}

.approved-badge {
  width: 75px;
  background: #44C13C;
}

.cancel-badge {
  width: 76px;
  background: #FF513A;
}