<div class="container-fluid">
  <div class="mx-sm-5">
    <div class="row py-3 mt-4 mb-3">
      <div class="col d-flex gap-3 align-items-center gray-500">
        <h3>Your invoices</h3>
        <i class="bi bi-caret-down-fill"></i>
      </div>
      <div class="col">
        <div class="d-flex justify-content-end gap-12">
          <button class="new-btn text-white d-flex align-items-center gap-1">New invoice<i class="bi bi-plus"></i></button>
          <button class="icon-btn"><i class="bi bi-bell d-flex align-items-center"></i></button>
          <button class="icon-btn"><i class="bi bi-search d-flex align-items-center"></i></button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="card p-4">
          <div class="row p-0">
            <div class="col-sm">
              <h5>Outstanding</h5>
              <h3 class="mt-5">243</h3>
            </div>
            <div class="col-xl-4 p-0 d-flex d-flex align-items-center">
              <div class="chart" echarts [options]="option1"></div>
              <i class="bi bi-arrow-down-right red-icon position-absolute p-3 ms-4"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card p-4">
          <div class="row p-0">
            <div class="col-sm">
              <h5>Paid this week</h5>
              <h3 class="mt-5">143</h3>
            </div>
            <div class="col-xl-4 p-0 d-flex d-flex align-items-center">
              <div class="chart" echarts [options]="option2"></div>
              <i class="bi bi-arrow-up-right green-icon position-absolute p-3 ms-4"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card p-4">
          <div class="row p-0">
            <div class="col-sm">
              <h5>Cancelled</h5>
              <h3 class="mt-5">32</h3>
            </div>
            <div class="col-xl-4 p-0 d-flex d-flex align-items-center">
              <div class="chart" echarts [options]="option3"></div>
              <i class="bi bi-arrow-up-right green-icon position-absolute p-3 ms-4"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-sm d-flex gap-12">
        <button class="icon-btn d-flex align-items-center gap-1">Filter by<i class="bi bi-filter gray-400"></i></button>
        <button class="icon-btn d-flex align-items-center gap-1">Sort by<i class="bi bi-filter-left gray-400"></i></button>
        <form class="d-flex align-items-center">
          <input type="text" placeholder="Try 'Miami beachhouse'">
          <i class="bi bi-search d-flex align-items-center"></i>
        </form>
      </div>
      <div class="col-sm-3 d-flex justify-content-end gap-12">
        <button class="icon-btn d-flex align-items-center gap-1 customise-btn">Customise <i class="bi bi-gear gray-400"></i></button>
        <button class="icon-btn d-flex align-items-center"><i class="bi bi-three-dots-vertical"></i></button>
      </div>
    </div>

    <table class="container-fluid mt-4 mb-5">
      <thead>
        <tr>
          <td scope="col"><i class="bi bi-square"></i></td>
          <td scope="col">Invoice name<i class="bi bi-arrow-up"></i></td>
          <td scope="col">Invoice status</td>
          <td scope="col">Client</td>
          <td scope="col">Outstanding balance</td>
          <td scope="col" class="text-center">Actions</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let status of status_list">
          <td><i class="bi bi-square"></i></td>
          <td><i class="bi bi-person-video3"></i> Miami development</td>
          <td><div class="badge-status text-white" [class]="status.type">{{ status.label }}</div></td>
          <td><img [src]="sony" class="rounded-circle"> Sony</td>
          <td><i class="bi bi-person-video3"></i> Miami development</td>
          <td class="text-center"><i class="bi bi-three-dots"></i></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>


<!-- 
  <table class="position-absolute">
    <thead>
      <tr>
        <td scope="col"><i class="bi bi-square"></i></td>
        <td scope="col">Invoice name<i class="bi bi-arrow-up"></i></td>
        <td scope="col">Invoice status</td>
        <td scope="col">Client</td>
        <td scope="col">Outstanding balance</td>
        <td scope="col" class="text-center">Actions</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let status of status_list">
        <td><i class="bi bi-square"></i></td>
        <td><i class="bi bi-person-video3"></i> Miami development</td>
        <td><div class="badge-status" [class]="status.type">{{ status.label }}</div></td>
        <td><img [src]="sony" class="rounded-circle"> Sony</td>
        <td><i class="bi bi-person-video3"></i> Miami development</td>
        <td class="text-center"><i class="bi bi-three-dots"></i></td>
      </tr>
  </table>
</div> -->