.main-container {
  width: 1270px;
  height: 1235px;
  left: 241px;

  .title-1 {
    height: 34px;
    left: 36px;
    top: 30px;
    font-weight: 600;
    font-size: 28px;
    color: #242D35;
  }
  
  .title-2 {
    height: 36px;
    left: 36px;
    top: 283px;
    font-weight: 600;
    font-size: 24px;
    color: #373F47;
  }
}

.top-right {
  display: flex;
  gap: 12px;
  width: 92px;
  height: 40px;
  right: 36px;
  top: calc(50% - 40px/2 - 573.5px);

  button {
    padding: 12px;
    gap: 8px;
    background: #FFFFFF;
    border: 1px solid #EAECEE;
    border-radius: 32px;
  }
}

.metrics {
  display: flex;
  gap: 24px;
  left: 36px;
  top: 88px;

  .metric-small {
    width: 360px;
    height: 159px;
    background: #FFFFFF;
    border: 1px solid #EAECEE;
    border-radius: 12px;

    .metric-content {
      width: 350px;

      .metric-name {
        left: 24px;
        top: 24px;
        font-weight: 600;
        font-size: 18px;
        color: #373F47;
      }
  
      .metric-amount {
        left: 24px;
        top: 94px;
        font-weight: 600;
        font-size: 28px;
        color: #242D35;
      }

      .visualisation {
        width: 95px;
        height: 95px;
        right: 32px;
        top: 30px;
      }

      i {
        position: absolute;
        width: 24px;
        height: 24px;
        right: 62px;
        top: 66px;
      }

      .green-icon { color: #2BA52E; }
      .blue-icon { color: #3333D1; }
      .red-icon { color: #FF513A; }
    }
  }
}

.filter-search {
  display: flex;
  width: 239px;
  height: 40px;
  left: 850px;
  top: 279px;

  .search-input {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    gap: 77px;
    border: 1px solid #EAECEE;
    border-radius: 32px;

    input {
      border: none;
    }

    input::placeholder {
      width: 154px;
      font-weight: 400;
      font-size: 14px;
      color: #D6DADE;
    }

    input:focus-within {
      outline: none;
    }

    i {
      width: 16px;
      height: 16px;
    }
  }
}

.listings {
  height: 856px;
  left: 36px;
  top: 343px;

  .card {
    display: flex;
    align-items: flex-start;
    padding: 24px;
    gap: 24px;
    border: 1px solid #EAECEE;
    border-radius: 12px;

    img {
      height: 157px;
      border-radius: 8px;
      align-self: stretch;
    }

    .text-content {
      display: flex;
      flex-direction: column;
      gap: 8px;
      width: 312px;
      height: 71px;
      align-self: stretch;

      h5 {
        font-weight: 600;
        font-size: 18px;
        color: #242D35;
      }

      small {
        height: 36px;
        font-weight: 400;
        font-size: 12px;
        color: #4F5B67;
      }
    }

    .meta-data {
      display: flex;
      gap: 16px;
      height: 18px;

      .data {
        display: flex;
        align-items: center;
        gap: 8px;

        i {
          color: #717D8A;
        }

        small {
          font-weight: 400;
          font-size: 12px;
          color: #4F5B67;
        }
      }
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 19px 76px;
      gap: 10px;
      width: 305px;
      height: 52px;
      background: #FFFFFF;
      border: 1px solid #EAECEE;
      border-radius: 36px;
      color: #0C1116;
      font-weight: 400;
      font-size: 14px;
    }
  }

  .card1 {
    width: 360px;
    height: 418px;
  }
  
  .card2 {
    width: 359px;
    height: 418px;
    left: 384px;
  }

  .card3 {
    width: 353px;
    height: 418px;
    left: 767px;
  }

  .card4 {
    width: 360px;
    height: 418px;
    top: 438px;
  }

  .card5 {
    width: 359px;
    height: 418px;
    left: 384px;
    top: 438px;
  }

  .card6 {
    width: 360px;
    height: 418px;
    left: 767px;
    top: 438px;
  }
}