<div class="main-container">
  <h3 class="title-1">Your dashboard</h3>
  <div class="top-right">
    <button><i class="bi bi-bell d-flex align-items-center"></i></button>
    <button><i class="bi bi-search d-flex align-items-center"></i></button>
  </div>
  <div class="metrics">
    <div class="metric-small">
      <h5 class="metric-name">Todays sales</h5>
      <h3 class="metric-amount">2,456</h3>
    </div>
    <!-- <div class="metric-small">
      <h5 class="metric-name">sss sales</h5>
      <h3 class="metric-amount">2,456</h3>
    </div> -->
  </div>
  <h4 class="title-2">Your favorites</h4>
  <div class="filter-search">
    <form class="search-input">
      <input type="text" placeholder="Try 'Miami beachhouse'">
      <i class="bi bi-search d-flex align-items-center"></i>
    </form>
  </div>
  <div class="listings" *ngFor="let listing of listings">
    <div [class]="listing.card" class="card">
      <img [src]="listing.image" alt="">
      <div class="text-content">
        <h5>{{ listing.name }}</h5>
        <small>{{ listing.desc }}</small>
      </div>
      <div class="meta-data">
        <div class="data">
          <i class="bi bi-geo-alt"></i>
          <small>Boston</small>
        </div>
        <div class="data">
          <i class="bi bi-vr"></i>
          <small>5 bedroom</small>
        </div>
        <div class="data">
          <i class="bi bi-building"></i>
          <small>Villa</small>
        </div>
      </div>
      <button>View listing details</button>
    </div>
  </div>
</div>