.icon-btn {
  padding: 12px;
  background: #FFFFFF;
  border: 1px solid #EAECEE;
  border-radius: 32px;
}

.gap-12 {
  gap: 12px;
}

.card {
  border-radius: 12px;

  .chart {
    width: 95px;
    height: 95px;
  }
}

form {
  border: 1px solid #EAECEE;
  border-radius: 32px;
  padding: 12px 16px;
  max-width: 239px;
  height: 40px;

  input { border: none; }
}

input::placeholder {
  font-size: 14px;
  color: #D6DADE;
}

input:focus-within { outline: none; }

.listing-img {
  width: 100%;
  border-radius: 8px;
  height: 157px;
}

small {
  font-size: 12px;
  color: #4F5B67;
}

.detail-btn {
  padding: 19px;
  border: 1px solid #EAECEE;
  border-radius: 36px;
  color: #0C1116;
  font-size: 14px;
}
// .listings {
//   height: 856px;
//   left: 36px;
//   top: 343px;

//   .card {
//     display: flex;
//     align-items: flex-start;
//     padding: 24px;
//     gap: 24px;
//     border: 1px solid #EAECEE;
//     border-radius: 12px;

//     img {
//       height: 157px;
//       border-radius: 8px;
//       align-self: stretch;
//     }

//     .text-content {
//       display: flex;
//       flex-direction: column;
//       gap: 8px;
//       width: 312px;
//       height: 71px;
//       align-self: stretch;

//       h5 {
//         font-weight: 600;
//         font-size: 18px;
//         color: #242D35;
//       }

//       small {
//         height: 36px;
//         font-weight: 400;
//         font-size: 12px;
//         color: #4F5B67;
//       }
//     }

//     .meta-data {
//       display: flex;
//       gap: 16px;
//       height: 18px;

//       .data {
//         display: flex;
//         align-items: center;
//         gap: 8px;

//         i {
//           color: #717D8A;
//         }

//         small {
//           font-weight: 400;
//           font-size: 12px;
//           color: #4F5B67;
//         }
//       }
//     }

//     button {
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       padding: 19px 76px;
//       gap: 10px;
//       width: 305px;
//       height: 52px;
//       background: #FFFFFF;
//       border: 1px solid #EAECEE;
//       border-radius: 36px;
//       color: #0C1116;
//       font-weight: 400;
//       font-size: 14px;
//     }
//   }

//   .card1 {
//     width: 360px;
//     height: 418px;
//   }
  
//   .card2 {
//     width: 359px;
//     height: 418px;
//     left: 384px;
//   }

//   .card3 {
//     width: 353px;
//     height: 418px;
//     left: 767px;
//   }

//   .card4 {
//     width: 360px;
//     height: 418px;
//     top: 438px;
//   }

//   .card5 {
//     width: 359px;
//     height: 418px;
//     left: 384px;
//     top: 438px;
//   }

//   .card6 {
//     width: 360px;
//     height: 418px;
//     left: 767px;
//     top: 438px;
//   }
// }