.icon-btn {
  padding: 12px;
  background: #FFFFFF;
  border: 1px solid #EAECEE;
  border-radius: 32px;
  height: 40px;
}

.gap-12 {
  gap: 12px;
}

h3 {color: #242D35; }

h4 { color: #373F47; }

.gray-400 { color: #A8B0B9; }