.icon-btn {
  padding: 12px;
  background: #FFFFFF;
  border: 1px solid #EAECEE;
  border-radius: 32px;
  height: 40px;
}

.new-btn {
  background: #4040F2;
  border-radius: 32px;
  border: none;
  height: 40px;
  padding: 12px 12px 12px 20px;
}

.customise-btn {
  padding: 12px 12px 12px 20px;
}

input::placeholder {
  font-size: 14px;
  color: #D6DADE;
}

input:focus-within { outline: none; }

.gap-12 {
  gap: 12px;
}

h3 {color: #242D35; }

h4 { color: #373F47; }

.gray-400 { color: #A8B0B9; }

.gray-500 { color: #717D8A; }

.green-icon { color: #2BA52E; }

.blue-icon { color: #3333D1; }

.red-icon { color: #FF513A; }