.new-btn {
  background: #4040F2;
  border-radius: 32px;
  border: none;
  height: 40px;
  padding: 12px 12px 12px 20px;
}

img {
  border-radius: 12px;
}

.img1 {
  max-width: 551px;
  max-height: 380px;
}

.img2 {
  width: 264px;
  height: 160px;
}

.top-img {
  margin-bottom: 16%;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.right-img {
  display: block;
  margin-left: auto;
}

.green-badge {
  padding: 5px 10px 7px;
  background: #44C13C;
  border-radius: 12px;
  font-size: 12px;
  color: #F6FFF0;
  height: 24px;
}

.map-img {
  width: 727px;
  height: 336px;
}

.card {
  border: 1px solid #EAECEE;
  border-radius: 12px;

  label { 
    font-weight: 500;
    color: #373F47;
  }

  p {
    font-size: 16px;
    color: #4F5B67;
  }
}

.listing-img {
  width: 100%;
  border-radius: 8px;
  height: 157px;
}

small {
  font-size: 12px;
  color: #4F5B67;
}

.detail-btn {
  padding: 19px;
  border: 1px solid #EAECEE;
  border-radius: 36px;
  color: #0C1116;
  font-size: 14px;
}


//     .text-content {
//       width: 250px;

//       .section-label {
//         height: 14px;
//         left: 72px;
//         top: 20px;
//         font-weight: 500;
//         font-size: 14px;
//         line-height: 100%;
//         color: #373F47;
//       }
  
//       .section-body {
//         height: 24px;
//         left: 72px;
//         top: 42px;
//         font-size: 16px;
//         color: #4F5B67;
//       }
//     }
//   }
// }

// .map-section {
//   width: 727px;
//   height: 380px;
//   left: 36px;
//   top: 961px;

//   .map-title {
//     width: 200px;
//     height: 36px;
//   }

//   .map {
//     width: 727px;
//     top: 60px;
//     border-radius: 12px;

//     img {
//     width: 727px;
//       height: 336px;
//       top: -16px;
//       border-radius: 12px;
//     }
//   }
// }

// .similiar-prop {
//   left: 36px;
//   top: 1401px;

//   .similiar-cards {
//     top: 60px;

//     .card{
//       padding: 24px;
//       gap: 24px;
//       width: 353px;
//       height: 418px;
//       border: 1px solid #EAECEE;
//       border-radius: 12px;
//       align-self: stretch;


//       img {
//         height: 157px;
//         border-radius: 8px;
//       }

//       .text-content {
//         flex-direction: column;
//         gap: 8px;

//         h5 {
//           font-weight: 600;
//           font-size: 18px;
//           color: #242D35;
//         }

//         small {
//           font-size: 12px;
//           color: #4F5B67;
//         }
//       }

//       .meta-data {
//         gap: 16px;

//         .data {
//           gap: 8px;
  
//           small {
//             font-size: 12px;
//             color: #4F5B67;
//           }
//         }
//       }

//       button {
//         padding: 19px 76px;
//         gap: 10px;
//         height: 52px;
//         border: 1px solid #EAECEE;
//         border-radius: 36px;

//         //button font 
//         font-size: 14px;
//       }
//     }

//     .card2 { left: 384px; }
//     .card3 { left: 767px; }
//   }
// }